body{
	margin: 0;
}
.container{
	width:80%;
	margin:0 auto;
}
a {
	color: inherit;
	text-decoration: none;
}
header{
	padding-bottom: 80px;
	background-color: #252525;
	color: #fff;
}
header h1{
	float: left;
	padding: 5px;
	padding-left: 5%;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a {
	padding: 20px 10px;
	display: inline-block;
}
.banner{
	height: 100vh;
	background-image: url('img/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.banner h1{
	color: #fff;
	font-size: 60px;
	text-decoration: underline;
}
.banner h3{
	color: #fff;
	font-size: 20px;
}